<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.jhyvarin.echo"
      version="0.1.0">
    <name>Echo</name>
    <description>Test Phonegap Echo plugin</description>
    <license>MIT</license>
    <keywords>phonegap,echo</keywords>


    <js-module src="www/echo.js" name="Echo">
        <clobbers target="window.echotest" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="com.jhyvarin.echo.Echo"/>
            </feature>
        </config-file>

        <source-file src="src/android/Echo.java" target-dir="src/com/jhyvarin/echo" />      
     </platform>          
</plugin>